@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(234, 237, 237);
}

button {
  outline-width: 0;
}

button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

button:active {
  transform: translateY(-1px);
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 3px 3px rgba(240, 193, 75, 0.8);
}
